.food-style{
    
    background-image:url('/assets/image/background.png') ;
    height: 100vh;
    background-color:lightpink;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.heading-style{
    text-align: center;
}
.menu-style{
    padding:10px;
    font-weight: bold;
}
.description{
    color:brown;
    font-size: large;
}