

<div class="food-style">
    <h1 class="heading-style">Food</h1>
    <div class="menu-style">
       <a routerLink="/Breakfast">Breakfast</a>
        <p class="description">Breakfast is essential . Breakfast eaters tend to perform better in school. Breakfast eaters have better test scores, 
            improved memory and focus, and are less likely to be absent or tardy.</p>
        <a routerLink="/Lunch"> Lunch</a>
        <p class="description">Lunch is mandatory for humans . Prefer always lunch as heavy . Skipping meal will not improve your planning ideas </p>
        <a routerLink="/Dinner">Dinner</a>
        <p class="description">Dinner always the perfect period to enjoy with your family and friends. Taking special dinner makes tonight special.</p>
    </div>
    <div>

    </div>
    
</div>