<!-- <p>login works!</p> -->
<app-header></app-header>



<div class="set-login-style">
    <h1 class="heading-style">Login</h1>
    <form [formGroup]='login'>
        <div>          
        <div>
            <button (click)="createUser()">Username</button><br>
            <input type="text" placeholder="Username" formControlName="username"><br>
            <small *ngIf="login.get('username').invalid && login.get('username').touched">*Username is Required</small>
        </div>
        <div>
            <input type="password" placeholder="Password" formControlName="password"><br>
            <small  *ngIf="login.get('password').invalid && login.get('password').touched">*Password is Required</small>  
            
        </div>
        <div>
            <input type="submit" value="Submit" (click)="onSubmit()"  >
        </div>
        </div>
    </form>
</div>