.header-style {
    display: flex;
    border: 2px solid black;
    background-color: rgb(13, 68, 54);
    color: white;
    font-weight: bold;
    font-size: large;
    height: 20vh;
}

.btn-style {
    color: white;
    font-size: large;
    font-weight: bold;
    padding-bottom: 90px;
    margin-left: 30px;
}

.login-btn,
.reg-btn,
.logout-btn {
    margin: 10px;
    color: white;
    background-color: rgb(173, 136, 87);
    font-weight: bold;
}

.reg-btn {
    margin-left: 10px;
}

.active-state {
    font-weight: bold;
}

.date-style {
    margin-left: 160vh;
}

.title-style {
    text-align: center;
    margin-left: 50px;
}

.cart-btn-style {
    background-color: rgb(173, 136, 87);
    color: white;
    font-weight: bold;
}

.logout-btn {
    margin-left: 150vh;
}