.header-style {
    display: flex;
    border: 2px solid darkgrey;
    background-color: rgb(66, 67, 68);
    font-weight: bold;
    font-size: large;
    height: 16vh;
    
}

.btn-style ,a{
    font-size: 30px;
    color: darkblue;
    font-size: large;
    font-weight: bold;
    padding-bottom: 40px;
    margin: 20px;
}

.active-state {
    font-size: 24px;
    font-weight: bold;
}

.title-style {
    text-align: center;
    margin-left: 50px;
    color:white
}

.bi-cart4 {
    margin-left: 170vh;
}
.lang-style {
    margin-top: 50px;
}
.btn-secondary{
    margin-left: 167vh;
    margin-bottom: 10px;
}