.header-style {
    display: flex;
    border: 2px solid rgb(82, 74, 74);
    background-color:rgb(161, 208, 214);
    font-weight: bold;
    font-size: large;
    height: 15vh;
}

.btn-style
{
    font-size: 50px;
    color: darkblue;
    font-size: large;
    font-weight: bold;
    padding: 20px;
}

.active-state {
    font-size: 20px;
    font-weight: bold;
}

.title-style {
    text-align: center;
    color:rgb(10, 8, 1);
}

.bi-cart4 {
    margin-left: 165vh;
    margin-top: 4vh;
    height: 40px;
}

.lang-style {
    margin: 30px;
    margin-top:11.5vh
}

.dropdown{
    padding: 10px;
    margin-top:10vh;
}
