<div class="header-style">
    <div class='btn-style'>
        <div>
            <button class="bi bi-cart4" routerLink="cart"></button>
            <button *ngIf="this.cart.totalItem">{{this.cart.totalItem}}</button>
        </div>
        <h1 class="title-style">Food Order App</h1>

        <a routerLink="registration" routerLinkActive="active-state" *ngIf="!user.login()">Register</a>
        <a routerLink="login" routerLinkActive="active-state" *ngIf="!user.login()">Login</a>
        <!-- <button class="btn btn-secondary" (click)="logoutPage()" *ngIf="user.login()">Logout</button> -->
    </div>

    <br>
    <span class="lang-style" *ngIf="user.login() ">
        <select #selectedLang (change)="switchLang(selectedLang.value)">
            <option *ngFor="let language of translate.getLangs()" [value]="language"
                [selected]="language === translate.currentLang">
                {{ language }}
            </option>
        </select>
    </span>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" class="bi bi-person" type="button" data-bs-toggle="dropdown"
            aria-expanded="false" role="button">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" class="bi bi-person"></a>{{userName}}</li>
            <li>Address</li>
            <li><a class="dropdown-item" (click)="logoutPage()" *ngIf="user.login()">Logout</a></li>
            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
        </ul>
    </div>
</div>