.contact-style{
    display: flex;
    border:2px solid black;
    /* margin:10px; */
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: large;
    height:70px
    
    
}
.btn-style{
   /* margin-left: 100vh;
   color:white;
   background-color: black;
   width: 100px;
   height:40px;
  margin-top: 10px; */
  margin:20px;
  /* padding:10px; */
  color:white;
  background-color: tan;
  font-weight:bold ;
  width: 100px;
  height:40px;
  margin-left: 50vh;
}
.rights-style{
  margin-left:50vh;
  margin-top:10px
}