.contact-style {
  display: flex;
  border: 2px solid black;
  background-color: rgb(13, 68, 54);
  color: white;
  font-weight: bold;
  font-size: large;
  height: 50px;
  position: fixed;
  width: 260vh;
  margin-bottom: 40vh
}

.btn-style {
  margin: 10px;
  color: white;
  background-color: rgb(173, 136, 87);
  font-weight: bold;
  width: 100px;
  height: 30px;
  margin-left: 30vh;
}

.rights-style {
  margin-left: 60vh;
  margin-top: 10px;
}