.foodmenu-style{
    display: flex;
    text-align: center;
    border-radius: 10px;
    border:2px solid black;
    padding-top: 50px;
}
.heading-style{
    text-align: center;
    align-items: center;
}
.item-style{
    display: block;
    border:2px solid black;
    padding-left: 10px;
    margin-left: 20px;

}
.img-style{
    width: 200px;
    height:200px;
    border-radius: 5px;
    padding-top: 50px;
    padding: 20px;
}

.item-name{
    font-size: large;
    font-weight: bold;
}