<h1 class="heading-style">Lunch Menu</h1>

<div class="foodmenu-style">
        <div class="item-style">
        
            <img class="img-style" [src]="curdrice"><br>
            <p class="item-name">CurdRice</p>
            <p>Price:{{curdPrice}}</p>
            </div>

            <div class="item-style">
        
                <img class="img-style" [src]="friedrice"><br>
                <p class="item-name">Chicken Fried rice</p>
                <p>Price:{{friedPrice}}</p>
            </div>
            
            <div class="item-style">
        
                <img class="img-style" [src]="mushroom"><br>
                <p class="item-name">Mushroom Briyani rice</p>
                <p>Price:{{mushroomPrice}}</p>
            </div>

            <div class="item-style">
        
                <img class="img-style" [src]="sambar"><br>
                <p class="item-name">Sambar rice</p>
                <p>Price:{{sambarPrice}}</p>
            </div>

</div>