div{
   display: block;
   height:75vh;
   color: white;
   font-weight: bold;
   font-size: large;
   align-items: center;
   background-image:url('/assets/image/pexels-cats-coming-674574.jpg');
   background-size: cover; 
   background-position: center;
}
h1{
    padding-right:50vh ;
}
.quote-style{
    color:white;
}