div{
    display: block;
    /* border:2px solid black; */
    /* margin:10px; */
    height:80vh;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: large;
   align-items: center;
   justify-content: center;
   background-image:url('/assets/image/fback.jpg');
   background-size: cover;
}
h1{
    padding-right:50vh ;
}
img{
   padding-left: 80vh;
   height: 50vh;
   padding-bottom: 50px;
}
.quote-style{
    color:white;

}