<div class="whole-style">
    <div class="set-reg-style">
        <h1 class="heading-style">Details</h1>
        <form [formGroup]="registerForm">
            <div>
                <br>
                <div>
                    <input class="input-style" type="text" placeholder="Firstname" formControlName="firstname"><br>
                    <small
                        *ngIf="registerForm.get('firstname')?.invalid && (registerForm.get('firstname')?.touched || registerForm.get('firstname')?.dirty)">
                        <div *ngIf="registerForm.get('firstname')?.hasError('required')">*Firstname is required
                        </div>
                        <div *ngIf="registerForm.get('firstname')?.hasError('minlength')">*Firstname should atleast
                            contain 3 letters</div>
                        <div
                            *ngIf="registerForm.get('firstname')?.errors?.['pattern'] && !registerForm.get('firstname')?.hasError('required')">
                            *Firstname should be valid format</div>
                    </small>
                </div>
                <br>
                <div>
                    <input class="input-style" type="text" placeholder="Lastname" formControlName="lastname"><br>
                    <small
                        *ngIf="registerForm.get('lastname')?.invalid && (registerForm.get('lastname')?.touched || registerForm.get('lastname')?.dirty)">
                        <div *ngIf="registerForm.get('lastname')?.hasError('required')">*Lastname is required </div>
                        <div *ngIf="registerForm.get('lastname')?.hasError('minlength')">*Lastname should atleast
                            contain 3 letters</div>
                        <div
                            *ngIf="registerForm.get('lastname')?.hasError('pattern') && !registerForm.get('lastname')?.hasError('required')">
                            *Lastname should be valid format</div>
                    </small>
                </div><br>
                <div>
                    <input id="dob" type="date" placeholder="Date of Birth" formControlName="dob">
                    <br>
                    <small
                        *ngIf="registerForm.get('dob')?.invalid && (registerForm.get('dob')?.touched || registerForm.get('dob')?.dirty)">
                        <div *ngIf="registerForm.get('dob')?.hasError('required')">*Date of Birth is required </div>
                    </small>
                </div>
            </div>
            <br>
            <div>
                <input class="input-style" type="text" placeholder="Email" formControlName="email"><br>
                <small
                    *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">*Email
                    is Required</small>
            </div>
            <br>
            <div>
                <input class="input-style" type="text" placeholder="Phone Number" formControlName="phoneNumber" (input)="phoneNumberMocking()"><br>
                <small
                    *ngIf="registerForm.get('phoneNumber')?.invalid && (registerForm.get('phoneNumber')?.touched || registerForm.get('phoneNumber')?.dirty)">
                    <div *ngIf="registerForm.get('phoneNumber')?.hasError('required')">*Phone Number is
                        required</div>
                    <div *ngIf="registerForm.get('phoneNumber')?.hasError('pattern') ">*Phone Number should contain 10
                        numbers</div>
                </small>
            </div>
            <br>
            <div>
                <label class="label-style">
                    <select class="form-select" formControlName="gender">
                        <option value="" selected> Select Gender</option>
                        <option *ngFor="let item of gender" [value]="item">{{item}}</option>
                    </select>
                </label>
            </div><br>
            <div>
                <small class="user-style">(Click the Username button to get username of yours. or Type your Username by
                    own)</small><br>
                <input type="text" placeholder="Username" formControlName="username"><br>
                <button (click)="createUsername()"
                    *ngIf="registerForm.get('firstname')?.valid && registerForm.get('lastname')?.valid">Username</button>
                <small
                    *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)">*Username
                    is Required</small>
            </div><br>
            <div>
                <input class="input-style" type="password" placeholder="Password" formControlName="password"><br>
                <small
                    *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
                    <div *ngIf="registerForm.get('password')?.hasError('required')">*Password is required </div>
                    <div
                        *ngIf="registerForm.get('password')?.hasError('pattern') && !registerForm.get('password')?.hasError('required')">
                        *Password should be valid format</div>
                </small>
            </div><br>
            <div>
                <input class="input-style" type="password" placeholder="Confirm Password"
                    formControlName="confirmPassword"><br>
                <small
                    *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty)">
                    <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')">*Confirm Password is required
                    </div>
                    <div *ngIf="registerForm.hasError('notmatchPassword')">*Password must match</div>
                </small>
            </div><br>
            <div>
                <input class="btn btn-success" type="submit" value="Submit" (click)="onSubmit()" [disabled]="registerForm.invalid">
            </div>
        </form>
    </div>
</div>