.set-reg-style{
    display: inline-block;
    /* border: 2px solid black; */
    text-align: center;
    margin-left: 50vh;
    /* margin-top: 20vh; */
    width: 100vh;
    /* height: 50vh; */
    /* background-color: rgb(240, 204, 150) ; */
   color:white;
    border-radius: 20px;
    padding-bottom: 15vh;
    
}
small{
    color:red;
    font-weight:bold;
}
/* .input-style{
    display: flex;
    flex-wrap:wrap;
    
} */
.user-style{
    color:white;
    font-weight: bold;
}
.dob-style{
    font-weight: bold;
}
.address-style{
    font-weight: bold;
}
.gender-style{
    display: flex;
}
.country-style{
    font-weight:bold;

}
.whole-style{
    background-image:url('/assets/image/pexels-photo-326281.jpeg');
    background-size: cover;
    /* filter:blur(4px);
    -webkit-filter: blur(4px); */

}