.set-reg-style {
    display: inline-block;
    text-align: center;
    margin-left: 50vh;
    width: 100vh;
    color: white;
    border-radius: 20px;
    padding-bottom: 9vh;
}

small {
    color: red;
    font-weight: bold;
}

.user-style {
    color:black;
    font-weight: bold;
}

.dob-style {
    font-weight: bold;
}

.address-style {
    font-weight: bold;
}

.whole-style {
    /* background-image: url('/assets/image/pexels-photo-326281.jpeg'); */
    background-image:url('/assets/image/back.jpg');
    background-size: cover;
    height: 80vh;
  
}

.label-style {
    font-weight: bold;
}

.heading-style{
    color:black;
}