
:host{
    border:1px solid black
}
/* :host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
} */
.menu-style{
    display:flex;
    flex-wrap: wrap;
    padding-left: 10px;
    /* margin-left: 50vh; */
    padding-bottom: 12vh;
    /* border:1px solid black */
}
.image-style{
    width: 200px;
    height:200px;
    border-radius: 5px;
    padding-top: 50px;
    padding: 20px;

}
.item-style{
    display: block;
    padding-left: 10px;
    margin-left: 20px;
    font-weight: bold;
    padding: 10px;
    
}
.list-style{
    border:1px solid black;
    padding: 10px;
    margin:10px 10px;
    
    
}
.heading-style{
    text-align: center;
    align-items: center;
} 
img:hover{
    background-color: lightgray;
}