<h1 class="heading-style">Food Varieties </h1>

<form>
    <select class="select-filter" (change)="selectOption($event)">
        <option value="">All</option>
        <option value="veg">Veg({{vegCount}})</option>
        <option value="non">Non-Veg({{nonvegCount}})</option>
        <option value="dessert">Dessert({{dessertCount}})</option>
    </select>
    <input class="search-style" type="text" placeholder="Search" [(ngModel)]="searchFood" (input)="filterItems()"
        name="search">
</form>

<div class="outlet container">
    <div class="row itemsBlock">
        <div class="col-md-3 col-sm-3 col-10" id="items-style"
            *ngFor="let item of filteredItems | paginate :{ itemsPerPage: 8, currentPage: pageNumber,totalItems:totalItems }">
            <img icon-link icon-link-hover [src]="item.imageUrl" width="200px" height="200px" alt="Food Image">
            <p>{{item.itemName}}</p>
            <p>Price: {{item.price | currency:'INR'}}</p>

            <button class="btn btn-outline-primary" (click)="addingTocart(item)">Add to Cart</button>
        </div>
        <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
    </div>
</div>