<!-- <p>breakfast works!</p> -->

<h1 class="heading-style">Breakfast</h1>
<div class="foodmenu-style">
   

    <div class="item-style">
        <img class="img-style" [src]="idlyimage"><br>
        <p class="item-name">Idly</p>
        <p>Price:{{idlyPrice}}</p>
        <label>Quantity:</label><br>
        <!-- <input class="input-style" type="number"> -->
        <button class='btn-style'   (click)="decreaseCount()" *ngIf="count>0">-</button>
        <small>{{count}}</small>
        <button class='btn-style' (click)="increaseCount()">+</button><br>
        <button  class='btn-style' (click)="addingCart()">Add to Cart</button>
        </div>
        
        
        <div class="item-style">
            <img class="img-style" [src]="dosaimage">
            <p class="item-name">Dosa</p>
            <p>Price:{{dosaPrice}}</p>
            <!-- <input class="input-style" type="number" [(ngModel)]="count">
            <button (click)="increaseCount()">Button</button>
            <small>{{count}}</small> -->

        </div>

        <div class="item-style">
            <img class="img-style" [src]="venpongalimage">
            <p class="item-name">VenPongal</p>
            <p>Price:{{pongalPrice}}</p>
        </div>

        <!-- <div class="item-style">
            <img class="img-style" [src]="venpongalimage">
            <p class="item-name">VenPongal</p>
        </div> -->

       
    </div>
