.order-style{
    text-align:center
}

.total-style{
    font-size:30px;
    font-weight: bold;
}

.table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 10vh;
    padding: 30px;
}
img{
    width: 200px;
    height: 200px;
}
.table-style {
    margin-left: 50vh;
    padding: 50px;
}