.set-login-style {
    display: inline-block;
    text-align: center;
    margin-left: 70vh;
    margin-top: 10vh;
    margin-bottom: 20vh;
    width: 50vh;
    height: 45vh;
    border-radius: 20px;
    color: black;
}

small {
    color: red;
    font-weight: bold;
}

.heading-style {
    padding-top: 10vh;
}

.login-style {
    margin-top: 10px;
}

.whole-style {
    /* background-image: url('/assets/image/pexels-photo-326281.jpeg'); */
    background-image:url('/assets/image/back.jpg');
    background-size: cover;
    height:80vh;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

input.ng-valid {
    border: 2px solid green;
}