.cart-style{
    display: block;
    width: 100vh;
    height: 50vh;
    border: 1px solid black;
    margin-left: 50vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
    padding-bottom: 10vh;
    
}
.table-style{
    margin-left: 50vh;
    padding:50px;
    padding-bottom:30vh
}
.table,th,td{
    border:1px solid black;
    border-collapse: collapse;
    margin-left: 10vh;
    padding: 30px;
}
.heading-style{
    text-align: center;
    font-weight: bold;
}
