<div class="payprocess-style">
  <form [formGroup]="payment" class="payment-align-style">
    <div class="payment-style">
      <h1>Payment</h1>
      <select id="paymentMethod" (change)="selectPaymentMethod($event)" formControlName="paymentOption">
        <option value="">Select Payment Method</option>
        <option value="gpay">Gpay</option>
        <option value="cod">Cash on Delivery</option>
        <option value="phonepay">PhonePay</option>
      </select><br>
      <small *ngIf="payment.get('paymentOption')?.hasError('required')">*Payment method is required</small>
    </div><br>
    <div>
      <div *ngIf="showTotal || cod">
        <select [ngModel]="setAddress" (change)="addressed($event)">
          <option selected>Please choose your address</option>
          <option *ngFor="let add of userAddress ,let i=index" value="{{add.street}},{{add.city}},{{add.pincode}}">
            {{i+1}}. {{add.street}},{{add.city}},{{add.pincode}}</option>
        </select>
        <br>
        <p class="delivery-style">Delivery Address: {{setAddress}}</p>
      </div>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Address update</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="address">
            <div class="mb-3">
              <label for="address">Address</label>
              <div class="input-group">

                <input type="text" id="address" class="form-control" placeholder="Street" formControlName="street" />
              </div>

              <div>
                <input type="text" class="form-control" placeholder="City" formControlName="city">
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Pincode" formControlName="pincode">
                <small
                  *ngIf="address.get('pincode')?.invalid && (address.get('pincode')?.touched || address.get('pincode')?.dirty)">
                  <small *ngIf="address.get('pincode')?.hasError('required')">*Pincode is Required</small>
                  <small *ngIf="address.get('pincode')?.hasError('pattern')">*Pincode should contain 6 numbers</small>
                </small>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('')" (click)="onSave()">Save</button>
        </div>
      </ng-template>
      <div class="address-style" *ngIf="showTotal || cod">
        <p>Add a new Address </p>
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">+ Add Address</button>
      </div>

    </div>
    <div *ngIf="showTotal">
      <label>UPI ID</label><br>
      <input type="text" id="upi" formControlName="upiId"><br>
      <small *ngIf="payment.get('upiId')?.invalid && (payment.get('upiId')?.touched || payment.get('upiId')?.dirty)">
        <small *ngIf="payment.get('upiId')?.hasError('required')">*UPI Id is required</small>
        <small *ngIf="payment.get('upiId')?.hasError('pattern')">*UPI Id should be in abcd@bankname format</small>
      </small><br>
    </div>

    <div *ngIf="showTotal && !cod" class="total-style" >
      <p *ngIf="totalPrice">Total: {{totalPrice | currency:'INR'}}</p>
      <button class="btn btn-success" (click)="processPayment()">Pay</button>
    </div>

    <div *ngIf="cod && !showTotal" class="total-style">
      <p *ngIf="totalPrice">Total: {{totalPrice | currency:'INR'}}</p>
      <button class="btn btn-success" (click)="processPayment()">Pay on Delivery</button>
    </div>
  </form>
</div>