<!-- <p>dinner works!</p> -->



<!-- <h1 class="heading-style">Dinner</h1>
<div class="foodmenu-style">
   

    <div class="item-style">
        <img class="img-style" [src]="dosaImage"><br>
        <p class="item-name">Dosa</p>
        <p>Price:{{dosaprice}}</p>
       
        </div>
        
        
        <div class="item-style">
            <img class="img-style" [src]="idlyImage">
            <p class="item-name">Idly</p>
            <p>Price:{{idlyprice}}</p>
    
        </div>

        <div class="item-style">
            <img class="img-style" [src]="naanImage">
            <p class="item-name">Naan</p>
            <p>Price:{{naanprice}}</p>
        </div>

        <div class="item-style">
            <img class="img-style" [src]="paneerImage">
            <p class="item-name">Paneer Masala</p>
            <p>Price:{{paneerprice}}</p>
        </div>
        <div class="item-style">
            <img class="img-style" [src]="dessert">
            <p class="item-name">Dessert</p>
            <p>Price:{{dessertprice}}</p>
        </div> -->
    <!-- </div> -->


    <app-items [dinnerItems]="dinner"  (addDinnerItem)="diningItem($event)"></app-items>